* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
    font-size: 6.5rem;
}

p#greet-user{
    text-align: center;
    font-size: 1.8rem;
    margin-top: -50px;
}

div#crypto {
    font-size: 1.3rem;
}

div#crypto > p {
    margin: 0;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
}

div#weather > img {
    width: 70px;
}

div#gmt-time {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: 10px;
}

p.time-string{
    margin: 0;
    font-size: 1rem;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.2rem;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

p#author {
    font-size: 1rem;
    color: #adadad;
}

.footer{
    display: flex;
    justify-content: space-between;
}

p#quote{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
}

.links{
    display: flex;
    align-items: center;
    height: fit-content;
}

.links img{
    width: 32px;
    height: 32px;
}

.links p{
    font-size: 1rem;
    font-weight: bolder;
}

.links:hover,
.links:focus
{
    cursor:pointer;
}

.links img:hover,
.links img:focus{
    animation:spin 10s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }